<div class="vh-100 d-flex justify-content-center align-items-center" style="margin-top: 10%;">
    <span>Valid</span>
    <pre>{{myForm.valid}}</pre>

    <span>Pristine</span>
    <pre>{{myForm.pristine}}</pre>

    <span>Touched</span>
    <pre>{{myForm.touched}}</pre>

    <span>Value</span>
    <pre>{{myForm.value | json}}</pre>
  <div class="col-md-4 p-5 shadow-sm border rounded-3 bg-dark">
      <h2 class="text-center mb-4 text-light">Iniciar sesión</h2>
      <form #myForm="ngForm" (ngSubmit)="add()"> 
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-light">Username</label>
              <input 
              type="text" 
              class="form-control border border-primary" 
              aria-describedby="emailHelp"
              name="username"
              ngModel
              minlength="3"
              >
              <span 
              class="form-text text-warning"
              *ngIf="notValid('username')"
              >
                  Tiene que tener una longitud minima de 3 caracteres
              </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light">Pass</label>
            <input 
            type="password" 
            class="form-control border border-primary" 
            aria-describedby="emailHelp"
            name="pass"
            ngModel
            minlength="3"
            maxlength="8"
            >
            <span 
            class="form-text text-warning"
            *ngIf="notValid('pass')"
            >
                Tiene que tener una  longitud minima de 3 caracteres y maxima de 8
            </span>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-light">Nombre</label>
          <input 
          type="text" 
          class="form-control border border-primary" 
          aria-describedby="emailHelp"
          name="nombre"
          ngModel
          required
          >
          <span 
          class="form-text text-warning"
          *ngIf="notValid('nombre')"
          >
              No Debe de estar vacio
          </span>
      </div>

          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-light">Email</label>
              <input 
              type="email" 
              class="form-control border border-primary" 
              name="email"
              ngModel
              [email]="true"
              >
              <span 
              class="form-text text-warning"
              *ngIf="notValid('email')"
             >
                  Tiene que tener un formato de email
              </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light">Telefono</label>
            <input 
            type="text"
            minlength="9"
            maxlength="9" 
            class="form-control border border-primary" 
            name="telefono"
            ngModel
            >
            <span 
            class="form-text text-warning"
            *ngIf="notValid('telefono')"
           >
                Tiene que tener la longitud de 9 caracteres
            </span>
        </div>
          <div class="d-grid">
              <input 
              type="submit" 
              class="btn btn-primary"
              [disabled]="myForm.invalid"
              >Registrarse
          </div>
      </form>


