.item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-top: 1%;
}
/* .enunciado{
    background-color: black; 
    color: white; 
    width: 100%;
    margin-left: 2%;
} */

/* td{
    border-bottom:1px solid black ;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
} */
.containerImage{
    width: 130px;
    height: 150px;
}

.image{
    width: 100%;
}

.containerDatosItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    margin:1%
}

