<div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let centro of centros">
          <td>{{centro.id}}</td>
          <td>{{centro.nombre}}</td>
          <td>{{centro.poblacion}}</td>
          <td><a [routerLink]="['/edit','pokemon.id']" >edit</a> </td>
        </tr>
      </tbody>

    </table>
  </div>