<div class="row">
        <p-table class="table" [value]="centros" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} thasta {last} de {totalRecords} resultados">
          <ng-template pTemplate="header" class="header">
            <tr class="enunciado">
              <th pSortableColumn="id">ID</th>
              <th pSortableColumn="nombre">Nombre</th>
              <th pSortableColumn="poblacion">Población</th>
              <th>Reservar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.poblacion}}</td>
            <td><a class="btn btn-success" [routerLink]="['/listaPistas',item.id]" >Ver pistas</a></td>
            </tr>
            
          </ng-template>
        </p-table>
        <!-- <div class="containerImage">
          <img class="imaage" src="" alt="">
        </div> -->
        <!-- <div class="containerDatosItem">
          <h4 class="title">{{item.nombre}}</h4>
          <p class="">{{item.poblacion}}</p>
          <a [routerLink]="['/listaPistas',item.id]" >Ver pistas</a>
        </div> -->
      <!-- </li> -->
  </div>